{{#bp-layout main="between" cross="center" classNames="file py-4"}}
	{{#bp-layout cross="center"}}
		<img src={{imgSrc}} alt="">
		<span class="ml-2 name">{{name}}</span>
	{{/bp-layout}}
	<p class="basic-infos">
		<span class="size mr-4">{{size}}</span>
		<span class="time">{{time}}</span>
	</p>
{{/bp-layout}}