{{#bp-layout direction='row' cross='center' main='between' classNames='time-line-box'}}
    {{#if lineone}}
        <p class="number">6次</p>
        <div class="time-line">
            <ul>
                <li>
                    <a class="order-item" title='03’22’’' style="left:10%;"></a>
                </li>
                <li>
                    <a class="order-item" title='04’30’’' style="left:20%;"></a>
                </li>
                <li>
                    <a class="order-item" title='10’20’’' style="left:45%;"></a>
                </li>
                <li>
                    <a class="order-item" title='12’30’’' style="left:55%;"></a>
                </li>
                <li>
                    <a class="order-item" title='22’10’’' style="left:80%;"></a>
                </li>
                <li>
                    <a class="order-item" title='23’50’’' style="left:86%;"></a>
                </li>
            </ul>
            <span class="filling-line" style="transform: scaleX(0.28);"></span>
        </div>
    {{/if}}
    {{#if linetwo}}
        <p class="number">5次</p>
        <div class="time-line">
            <ul>
                <li>
                    <a class="order-item" title='07’40’’' style="left:25%;"></a>
                </li>
                <li>
                    <a class="order-item" title='08’20’’' style="left:35%;"></a>
                </li>
                <li>
                    <a class="order-item" title='15’30’’' style="left:55%;"></a>
                </li>
                <li>
                    <a class="order-item" title='17’10’’' style="left:65%;"></a>
                </li>
                <li>
                    <a class="order-item" title='23’50’’' style="left:86%;"></a>
                </li>
            </ul>
            <span class="filling-line" style="transform: scaleX(0.28);"></span>
        </div>
    {{/if}}
    {{#if linethree}}
        <p class="number">2次</p>
        <div class="time-line">
            <ul>
                <li>
                    <a class="order-item" title='15’20’’' style="left:45%;"></a>
                </li>
                <li>
                    <a class="order-item" title='27’20’’' style="left:95%;"></a>
                </li>
            </ul>
            <span class="filling-line" style="transform: scaleX(0.28);"></span>
        </div>
    {{/if}}

{{/bp-layout}}
{{yield}}
