.app-display {
	&.content {
		border-bottom: 1px solid $n030a;

		img {
			width: 48px;
			height: 48px;
			border-radius: 8px;
		}

		.name {
			p {
				@extend %p-primary;
			}

			span {
				@extend %p-small;
				background-color: $n030;

			}
		}

		.time {
			@extend %p-small;
		}
	}
}
