.back {
    margin-bottom: 8px;
    @extend %p-secondary;
}
a.hover {
    @extend %p-secondary;
}
.section-area-top {
    margin-top: 8px;
}
.section-right-margin {
    margin-right: 8px;
}
.section-height-first {
    height: 125px;
}
.section-height-second {
    height: 150px;
}
.section-height-third {
    height: 230px;
}
.section-height-forth {
    height: 147px;
}
.section-height-fifth {
    height: 180px;
}
.section-harf-white {
    padding: 24px;
    flex: 1;
    background: #FFFFFF;
    .section-secondary-title {
        margin-bottom: 8px;
        @extend %p-secondary;
    }
    .section-number-large {
        @extend %title;
    }
    .section-number-small {
        @extend %header-small;
    }
    .section-center-border {
        border-left: 1px solid rgba(9,30,66,0.08);
        border-right: 1px solid rgba(9,30,66,0.08);
    }
    .text-minimum {
        margin-left: 2px;
        @extend %p-small;
    }
    .text-maximum {
        font-size: 29px;
        @extend %title;
    }
    .section-in-three {
        flex: 1;
        .text-red {
            @extend %p-primary;
            color:  #BF2600;
        }
        .text-green {
            @extend %p-primary;
            color:  #006644;
        }

    }
}
.tabs-area {
    margin-top: 24px;
    .section-top {
        margin-top: 16px;
    }
}
