h2.title {
	height: 54px;

	.title {
		@extend %header-medium;

		span {
			@extend %p-secondary;
		}
	}
}

.mission {
	.content {
		div {
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			    -ms-flex: 1;
			        flex: 1;
			font-size: 0;

			p.keys {
				@extend %p-secondary;
			}

			span.values {
				@extend %title;
			}

			span.unit {
				margin-left: $spacing-compact;
				@extend %p-small;
			}

			span.content {
				@extend %p-primary;
			}
		}
	}
}

h3.title {
	span.title {
		@extend %header-small;
	}

	span.other {
		@extend %p-secondary;
		color: $n300;
	}
}

.authorization {
	.container {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		    -ms-flex: 1;
		        flex: 1;


	}
}

.upload-files {}
