.edu-container {
    .text-header-medium {
        @extend %header-medium;
    }
    .text-p-small {
        @extend %p-small;
    }
    .text-header-small {
        @extend %header-small;
    }
    .text-p-primary {
        @extend %p-primary;
    }
    .text-p-secondary {
        @extend %p-secondary;
    }
    .text-header-large {
        @extend %header-large;
    }
    .title-area {
        padding: 0 24px;
        height: 54px;
    }
    .tech {
        flex: 1;
    }
    .admin {
        flex: 1;
    }
    .reports {
        flex: 1;
    }
    .satisfaction {
        flex: 1;
    }
    .icon-info {
        margin-bottom: 11px;
        // width: 16px;
        height: 16px;
    }
    .text-width {
        min-width: 98px;
    }
    .eff-list {
		width: 100%;
        -webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
        .circle-desc {
            min-width: 60px;
        }
        &:not(:first-child) {
            .circle-desc {
                min-width: 110px;
                padding-left: 48px;
                border-left: 1px solid rgba(9,30,66,0.08);
            }
        }

        .circle-area {
            width: 100px;
        }
		.bp-circle {
			height: 45px;
			width: 45px;
			text-align: center;

			.echarts-chart {
				margin: 0 auto;
				width: 45px;
				height: 45px;

				&~div {
					width: 45px;
					height: 45px;
				}
			}
		}
		.circle-desc {
			flex: 0 0 38px;
		}
	}
    .table {
        margin-bottom: 0;
    }
    .stall-point-table {
        & thead th {
            border-top: 0;
            border-bottom: 0;
            @extend %p-small;
            &:nth-child(3) {
                min-width: 203px;
            }
            &:nth-child(1) {
                min-width: 131px;
            }
            &:nth-child(2) {
                min-width: 118px;
            }
        }
    }
    .table-area {
        height: 210px;
        width: 100%;
        background: #F4F5F7;
        .table-body {
            margin: 8px;
            background: #fff;
            tr {
                @extend %p-secondary;
                height: 64px;
                vertical-align: middle;
                background: transparent;
                td {
                    margin-bottom: 0;
                    padding-top: 22px;
                    &:nth-child(1) {
                        @extend %header-small;
                    }
                    &:nth-child(3) {
                        min-width: 203px;
                    }
                    &:nth-child(2) {
                        min-width: 118px;
                    }
                }
                &:nth-child(1) {
                    min-width: 131px;
                    td {
                        border-top: 0;
                    }
                }
            }
        }

    }
}
.time-line-box{
    position: relative;
    height: 20px;
    overflow: hidden;
    ul li {
        list-style-type: none;
    }
    .time-line{
        width: 160px;
        position: absolute;
        z-index: 1;
        left: 32px;
        top: 9px;
        height: 2px;
        background:  #C2DAFF;;
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
        .order-item{
            position: absolute;
            bottom: 0;
            z-index: 2;
            text-align: center;
            font-size: 13px;
            padding-bottom: 15px;
            color: #3881FF;
            cursor: pointer;
        }
        .order-item:after{
            content: '';
            position: absolute;
            left: 50%;
            right: auto;
            transform: translateX(-50%);
            bottom: -3px;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            border: 2px solid #3881FF;
            background-color: #fff;
        }
        // .selected:after{
        //     background-color: #fff;
        //     border-color: #3881FF;
        // }
        .filling-line{
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #C2DAFF;
            transform-origin: left center;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: initial;
            transition-delay: initial;
        }
    }
}
