.member-list-item {
    border-radius: 4px;
}
.member-list-item-container {
    cursor: pointer;
    padding: $spacing*2 $spacing;
    margin-bottom: $spacing*2;

    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    .member-list-item-left {
        .head-icon {
            margin-right: $spacing;
            height: 48px;
            width: 48px;
            border-radius: 50%;
        }
    }
    .member-list-item-mid {
        p:nth-child(1) {
            @extend %header-small;
            margin-bottom: $spacing;
        }
        p:nth-child(2) {
            @extend %p-secondary;
        }
    }
    .member-list-item-right {
        .tag {
            @extend %p-primary;
            background-color: $n030;
            height: 20px;
            line-height: 20px;
            padding: 0 $spacing;
            min-width: 40px;
            border-radius: 4px;
        }
    }
}