@import "ember-bootstrap/bootstrap";
@import "bp-components";

@import "bi-top-nav";
@import "dashboard";

body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 1200px;
}

p {
    margin: 0;
}

.bi-page-outer {
    height: -webkit-calc(100% - 64px);
	height: calc(100% - 64px);
}