@import "ember-bootstrap/bootstrap";
@import "bp-components";

@import "dashboard";
@import "campus-overview";
@import "data-platform";
@import "growth-application";

// component
@import "bi-top-nav";
@import "app-dispaly";
@import "file-display";

html,
body {
  height: 100%
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 1200px;
  background-color: $n010;

  & > .ember-view {
    height: 100%;
    width: 100%;
    min-height: 100%;
  }
}

p {
  margin: 0;
}

.bi-body {
  height: 100%;
}

.bi-page-outer {
  height: -webkit-calc(100% - 64px);
  height: calc(100% - 64px);
}

.bi-page-container {
  width: 100%;
  overflow: auto;
}

.bp-nav {
  background-color: $n000;
}

.normal-page-container {
  width: 100%;
  padding: $spacing*3;
}

div.bg-white {
  background-color: $n000;
}

div.bp-progress {
  height: $spacing;
}
