{{#bp-layout direction='col' classNames='normal-page-container'}}
    {{#link-to 'dashboard' classNames='back'}}
        返回
    {{/link-to}}
    {{#bp-layout direction='col'}}
        {{bp-page-header/only-title-desc title="五道口校区概况"}}
        {{#bp-layout direction='row' main='between' classNames='section-area-top'}}
            {{#bp-layout direction='col' main='between' cross='center' classNames='section-harf-white section-right-margin section-height-'}}
                <p class="section-secondary-title">校区总收入</p>
                <p class="section-large-number">¥ 39,760,000</p>
            {{/bp-layout}}
            {{#bp-layout direction='row' main='center' cross='center' classNames='section-harf-white'}}
                {{#bp-layout direction='col' cross='center' classNames='section-in-three'}}
                    <p class="section-secondary-title">签单课时</p>
                    <p class="text-red">53,708<span>小时</span></p>
                {{/bp-layout}}
                {{#bp-layout direction='col' cross='center' classNames='section-in-three section-center-border'}}
                    <p class="section-secondary-title">总消课时</p>
                    <p class="text-green">53,708<span>小时</span></p>
                {{/bp-layout}}
                {{#bp-layout direction='col' cross='center' classNames='section-in-three'}}
                    <p class="section-secondary-title">其他收益</p>
                    <p class="section-number-small">¥1,000,000</p>
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
        {{#bp-layout direction='row' main='between' classNames='section-area-top'}}
            {{#bp-layout direction='col' main='between' classNames='section-harf-white section-right-margin'}}
                <p class="section-secondary-title">在校学生/总服务学生</p>
                <p class="text-medium-number">660/10,000 <span>人</span></p>
                {{bp-progress }}
            {{/bp-layout}}
            {{#bp-layout direction='col' main='between' classNames='section-harf-white'}}
                <p class="section-secondary-title">团队人数</p>
                <p class="text-medium-number">98 <span>人</span></p>
                {{#bp-layout direction='row'}}
                    <p>同比</p>
                    <p>20%</p>
                    <span></span>
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction='col' classNames='tabs-area'}}
        {{#bp-tabs selection=selected class='campus-tabs' as |tabs|}}
            {{#tabs.tablist as |list|}}
                <li class="nav-item">
                    {{#list.tab
            selectPaneId='business'
            onSelect=(action (mut selected))}}经营指数
                    {{/list.tab}}
                </li>
                <li class="nav-item">
                    {{#list.tab
            selectPaneId='ksf'
            onSelect=(action (mut selected))}}团队KSF诊断
                    {{/list.tab}}
                </li>
            {{/tabs.tablist}}
            <div class="tab-content">
                {{#tabs.pane elementId="business"}}
                    {{#bp-layout direction='col'}}
                        {{#bp-layout direction='col'}}
                            {{#bp-layout direction='row'}}

                            {{/bp-layout}}
                            {{#bp-layout direction='row' main='between'}}

                            {{/bp-layout}}
                        {{/bp-layout}}
                    {{/bp-layout}}
                {{/tabs.pane}}
                {{#tabs.pane elementId="ksf"}}
                    2222
                {{/tabs.pane}}
            </div>
        {{/bp-tabs}}
    {{/bp-layout}}
{{/bp-layout}}
{{outlet}}
